.navbar {
    min-height:60px !important;
    background-color: #E57373 !important;
    transition: top 0.2s ease-in-out;
}
.navbar-brand {                
    /*color:#FFFFFF;*/
    font-family: 'Dosis', cursive;
    /*font-size: 30px;*/
    padding-top: 2px;
}
.navbar-brand img{
    height:55px; 
}
/*.nav>li>a:hover{
    background-color: #E0E0E0;
}*/
/*.navbar-nav li.active a */
.navbar-nav li a:hover{
    color: #004D40 !important;
    background-color: #004D40 !important;
}
.navbar-collapse .menu-text {
    display: none;
}
.navbar-collapse.in .menu-text {
    color:#FFFFFF;
    display: inline-table;
    padding-left: 20px;
}
.icon{
    color:#FFFFFF;
}
.icon-bar{ /*hamburger*/
     background-color:#FFFFFF;    
}
/*.nav a:active {
    border-bottom: 5px solid #009688;
}*/
.fa-github:hover {
    color: #000000;
}
.fa-linkedin-square:hover {
    color: #1565C0;
}
.fa-phone:hover {
    color: #689F38;
}

.jumbotron { 
    background-color: #00897B;
    color: #000000;
}
#introduction{
    font-family: 'Poiret One', cursive;
    margin-top:65px;    
}
.nav-up {
    top: -65px;
}
.heading{
    text-decoration: underline;
    /*text-align: center;*/
    font-family: 'Shadows Into Light Two';
    font-weight:bolder;
    text-transform: uppercase;
	color: #000000;
    padding-top:20px;
    padding-bottom:40px;
}
.content{
    color: #FFFFFF;
	/*font-family: 'Harmattan';*/
	/*font-size:20px;*/
}
#sub-heading{
    color: #FFFFFF;
    /*font-family: 'Harmattan';*/
    /*font-size:20px;*/
}
#education{
    /*font-family: 'Shadows Into Light Two';*/
    background-color: #4DB6AC;
    
}
.EducationSchool{
    /*color: #FFD54F;*/
    font-weight: 900;
}
.EducationDegree{
    text-decoration: underline;
    font-weight: 900;
    /*color:#CE93D8;*/
}
.Masters{
    font-family: 'Poiret One';
}
.BE{
    font-family: 'Poiret One';
}
#skills{
    /*font-family: 'Shadows Into Light Two';*/
    background-color: #4DB6AC;    
}
.skills-heading{
    font-family: 'Poiret One';
}
.btn {
    letter-spacing: 1px;
    /*  text-transform: uppercase;*/
}
.btn-primary{
	background-color: #00897B;
    font-family: 'Poiret One';
}
.btn-group h4{
    font-weight: 900;
}
#experience{
    background-color: #4DB6AC;
}
#projects{
    background-color: #4DB6AC;
}
.panel, .panel > .panel-heading{
	background-color: #00897B;
}
/*.collapse, .panel-collapse {
    background-color: #E57373;
}*/

#empower-desc,#wrt-desc,#a100-desc,
#capgemini-desc,#bankApp,#bigdata,
#solid,#ticTacToe,#clustering,#battleship,#hadoop{
    background-color: #E57373;
}
hr { 
    background-color: white; 
    height: 2px;
    margin: 0;
}
#contact h3{
    font-family: 'Shadows Into Light Two', cursive;
    /*font-size:24px;*/
    color: white;
    /*background-color: #D32F2F;*/
    text-align: center;
    margin-bottom: 0;
    margin-top:10px;
    padding: 0;
    /*border-top: 10px;*/
    /*border-bottom: 0;*/
}


/*#job-img {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}*/